.chat {
  flex: 0.75;
  display: flex;
  flex-direction: column;
  /* background-color: #363a3f; */
  /* background-color: #2f3135; */
  background-color: #191919;
  border-right: 1px solid #2a2a2a;
  /* height: 100vh; */
}
.chat__messages {
  flex: 1;
  overflow-y: scroll;
}
.chat__input {
  color: lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 25px;
  margin: 20px;
  margin-top: 2%;
  margin-bottom: 2%;;
  /* background-color: #474b53; */
  background-color: #262626;
}
.chat__input > form > input{
  margin: 0;
  padding: 10px;
  background: transparent;
  width: 100%;
  border: none;
  outline-width: 0;
  color: white;
  font-size: large;
  outline: none;
  white-space: pre;
}
.chat__input > form {
  flex: 1;
}
.chat__inputButton {
  display: none;
}
.chat__inputIcons > .MuiSvgIcon-root {
  padding: 5px;
}
.chat__inputIcons > .MuiSvgIcon-root:hover {
  color: #fff;
}
.chat__input > .MuiSvgIcon-root:hover {
  color: #fff;
}
/* border: 2px solid #3a3a3a;
border-top-left-radius: 15px;
border-top-right-radius: 15px; */
.chat__messages::-webkit-scrollbar {
  width: 5px;
}

.chat__messages::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px #262626;  */
  -webkit-box-shadow: inset 0 0 6px transparent;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.chat__messages::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  /* background: #191919;  */
  /* background: #fff;  */
  background: #0096ff;
  -webkit-box-shadow: inset 0 0 6px #262626;
}
/* .css-6hp17o-MuiList-root-MuiMenu-list{
  background-color: #2a2a2a;
  color: #fff;
} */
.MuiMenu-root ul {
  background-color: #2a2a2a;
  color: #fff;
}
