.chatHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  padding: 10px;
  /* border-bottom: 1px solid #fff; */
  /* border-bottom: 1px solid #0096FF; */
  border-bottom: 1px solid #2a2a2a;
}
.chatHeader__hash {
  color: gray;
  font-size: 30px;
  padding-right: 10px;
}
.chatHeader__left > h3 {
  display: flex;
  align-items: center;
  /* color: #fff; */
}
.chatHeader__right {
  display: flex;
  align-items: center;
  flex: 0.5;
  justify-content: space-between;
}

.chatHeader__right > .MuiSvgIcon-root {
  padding: 5px;
  cursor: pointer;
}
.chatHeader__right > .MuiSvgIcon-root:hover {
  color: #fff;
}
.chatHeader > .MuiSvgIcon-root:hover {
  cursor: pointer;
  color: #fff;
}
.chatHeader__search > .MuiSvgIcon-root:hover {
  cursor: pointer;
  color: #fff;
}
.chatHeader__search {
  display: flex;
  align-items: center;
  color: gray;
  /* background-color: #2f3135; */
  background-color: #2a2a2a;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 3px;
}
.chatHeader__search > input {
  background: transparent;
  /* outline-width: 0; */
  color: #fff;
  border: none;
}
